@font-face {
	font-family: "fontello";
	src: url("../fonts/fontello.eot?93633842");
	src: url("../fonts/fontello.eot?93633842#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?93633842") format("woff"),
		url("../fonts/fontello.ttf?93633842") format("truetype"), url("../fonts/fontello.svg?93633842#fontello") format("svg");
	font-weight: normal;
	font-style: normal;
}
